<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Alzheimer's Detection</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <!-- <script src="js/index.js"></script> -->
  <script src="{{url_for('static',filename='js/relScript.js')}}"></script>
  <!-- <link rel="stylesheet" href="css/style.css"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

  <section class="navigation">
    <div class="nav-container">
      <div class="brand">
        <a href="#!">Alzheimer's Detection</a>
      </div>
      <nav>
        <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
        <ul class="nav-list">
          <li>
            <a href="#!">Home</a>
          </li>
          <li>
            <a href="#!">About Us</a>
          </li>

          <li>
            <a href="#!">Log In</a>
          </li>
          <li>
            <a href="#!">Sign Up</a>
          </li>
        </ul>
      </nav>
    </div>
  </section>

  <div class="upload">
    <p class="health"> Easiest way to keep track of your Health.</p>
    <form action = "http://localhost:5000/uploader" method = "POST" enctype = "multipart/form-data">
    <img class="fil" src="/static/file (1).png">
    <br>
    <input type="file" id="myFile" class="file" name = "file">
    <br>


    <button class="fileup" type="submit">Upload</button>
  </form>
  </div>







</body>

</html>